extends layout

block navbar
  include navbar

block content
  table.table
    thead
      tr
        th.col-xs-3 title
        th.col-xs-3 detail link
        th.col-xs-2 due date
        th.col-xs-2 owner
        th.col-xs-2 last change
        th.col-xs-1 
        th.col-xs-1 
        th.col-xs-1 
        th.col-xs-1
    tbody
      each item in items
        tr(itemId= item._id)
          td= item.title
          td
            a(href= item.detailLink)!= item.detailLink
          td= item.dueDate
          td= item.owner
          td= item.lastChange
          td
            if live && user
              a.glyphicon.glyphicon-pencil(onclick='edtWorkItem(this)', title='edit item')
          td
            if live && user
              a.glyphicon.glyphicon-trash(onclick='delWorkItem(this)', title='delete item')
          td
            if user
              if live
                a.glyphicon.glyphicon-folder-close(onclick='statusClose(this)', title='close item')
              else
                a.glyphicon.glyphicon-folder-open(onclick='statusOpen(this)', title='open item')
          if user 
            td(status= item.statusCode , onclick='statusP1(this)')
          else 
            td(status= item.statusCode , onclick='')
